<div class="menu-sidebar">
	<div class="btn-group-vertical" role="button" aria-label="button">
		<a href="#" tooltip-placement="right" uib-tooltip="Dashboard" >
			<span class="glyphicon glyphicon-th"> </span>
		</a>
		<a href="#" tooltip-placement="right" uib-tooltip="Search"><span
				class="glyphicon glyphicon-search"></span>
		</a>
		<a href="#" tooltip-placement="right" uib-tooltip="Message">
			<span class="glyphicon glyphicon-envelope"></span>
		</a>
		<a href="#" tooltip-placement="right" uib-tooltip="Project"><span
				class="glyphicon glyphicon-folder-open"></span>
		</a>
	</div>
</div>


