<div class="container ">
	<div class="row my-font">
		<div class="col-sm-1">
			<span class="{{badges.curBadge.badge}} shadow"></span>
		</div>
		<div class="col-sm-11">
			<span ng-bind="badges.curBadge.name"></span>
		</div>
	</div>
	<div class="row ">
		<div class="col-sm-11 col-sm-offset-1">
			<ul class="nav nav-pills menu-item-underline-style">
				<li><a href="#">My tasks</a></li>
				<li><a href="#">My routine</a></li>
				<li><a href="#">My status</a></li>
				<li><a href="#">My messages</a></li>
			</ul>
		</div>
	</div>
</div>