//colors
@color-font-black: #484744;
@color-font-purple: #5d2e8a;
@color-font-drop-list: #bcb7af;

@color-background-sidebar: #2e2d2b;
@color-background-headbar: rgba(255, 255, 255, 1);
@color-background-transparent: rgba(255, 255, 255, 0);
@color-background-workzone-base: #f8f6f2;
@color-background-draglist-base: #eeece8;
@color-background-main-view: #f8f6f2;

@color-menu-item: rgba(255, 255, 255, 1);
@color-menu-focus-bar: rgba(255, 0, 0, 1);

//shadow
@color-shadow-box: #aaaaaa;