@import 'color.less';
@import 'positions.less';
@import 'utils';

.work-zone {
  padding: 15px;
  > div {
    > div {
      border-radius: 5px;
      background-color: @color-background-workzone-base;
      color: @color-font-black;
    }
  }
  .dropZone {
    margin-bottom: 10px;
    background-color: @color-background-draglist-base;
    color: @color-font-drop-list;
    > div a {
      text-decoration: none;
      color: @color-font-drop-list;
    }
    .list-group > .list-group-item:not(:last-child) {
      margin-bottom: 5px;
    }
    .insert-here {
      margin-top: @height-height-insert-item;
      //.cm-transition(margin-top  0.3s); //this will break drop items position calculation
    }
    .insert-after {
      margin-bottom: 50px;
      //.cm-transition(margin-top  0.3s); //this will break drop items position calculation
    }
  }
}

//on dragover event, chrome shows a blank dragging picture if element's position is relative.
.fix-chrome-issue{
  position: initial;
}

[cm-drag-item] {
  [class*=col-] {
    .fix-chrome-issue;
  }
}



.limit-height {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.font-red {
  color: @color-font-red;
}

.font-black {
  color: @color-font-black;
}